<a href="https://colab.research.google.com/github/leebs0521/DAP/blob/main/lecture2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

np.random.seed(0)

# NumPy Exercises!
Complete the solution code to have a desired output.

**[Caution!]** Not allow to use iteration, such as for-loop.

### 1. Create a 4×4 numpy array of all True boolean’s

In [ ]:
# Input
arr_size = (4, 4)

# Solution
bool_arr = np.full(arr_size, True, dtype=bool)

# Print
print(bool_arr)

[[ True  True  True  True]
 [ True  True  True  True]
 [ True  True  True  True]
 [ True  True  True  True]]

### 2. Extract all odd numbers from given `arr`

In [ ]:
# Input
arr = np.arange(1,30,2)

# Print
print(arr)

[ 1  3  5  7  9 11 13 15 17 19 21 23 25 27 29]

### 3. Get the positions where elements of `a` and `b` match
(hint, refer [np.where](https://colab.research.google.com/drive/1BqG2-LGCfkX4axzz96Yl4wCbJ6t-nZdR#scrollTo=OAanUPrlNj-N&line=2&uniqifier=1).)

In [ ]:
# Input
a = np.array([1, 2, 3, 2, 3, 4, 3, 4, 5, 6])
b = np.array([7, 2, 10, 2, 7, 4, 9, 4, 9, 8])

# Solution
idx = np.where(a==b)

# Print
print(idx)

(array([1, 3, 5, 7]),)

### 4. Find the mean, median, standard deviation of iris's `sepallength` (1st column).

In [ ]:
# Input
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris = np.genfromtxt(url, delimiter=',', dtype='object')
sepallength = np.genfromtxt(url, delimiter=',', dtype='float', usecols=[0])

# Solution
mu = sepallength.mean()
med = np.median(sepallength)
std = sepallength.std()

# Print
print(mu,med, std)

5.843333333333334 5.8 0.8253012917851409

### 5. Find the duplicate entries (2nd occurrence onwards) in the given numpy array and mark them as True. First time occurrences should be False. (hint, refer [np.unique](https://numpy.org/doc/stable/reference/generated/numpy.unique.html).)

In [ ]:
# Input
np.random.seed(100)
a = np.random.randint(0, 5, 10)
print('Array: ', a)

# Solution
## Create an all True array
out = np.full(10,True)


## Find the index positions of unique elements
unique_positions = np.unique(a,return_index=True)

## Mark those positions as False
out[unique_positions[1]] = False 

print('Duplicate entrie: ', out)

Array:  [0 0 3 0 2 4 2 2 2 2]
Duplicate entrie:  [False  True False  True False False  True  True  True  True]

# Pandas Exercises!
Complete the solution code to have a desired output.

### 6. Combine `ser1` and `ser2` to form a dataframe.

In [ ]:
# Input
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))
# Solution 

df = pd.DataFrame({'Col1':ser1,'Col2':ser2})

# Print
print(df.head())

  Col1  Col2
0    a     0
1    b     1
2    c     2
3    e     3
4    d     4

### 7. Check if `df` has any missing values.

In [ ]:
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
print(df.head())

# Solution
print('\nIs there any missing value?:', df.isnull().values.any())

  Manufacturer    Model     Type  ...  Weight   Origin           Make
0        Acura  Integra    Small  ...  2705.0  non-USA  Acura Integra
1          NaN   Legend  Midsize  ...  3560.0  non-USA   Acura Legend
2         Audi       90  Compact  ...  3375.0  non-USA        Audi 90
3         Audi      100  Midsize  ...  3405.0  non-USA       Audi 100
4          BMW     535i  Midsize  ...  3640.0  non-USA       BMW 535i

[5 rows x 27 columns]

Is there any missing value?: True

### 8. Create a TimeSeries starting `2021-01-01` and 10 weekends (sundays) after that **having** random numbers as values?

In [ ]:
# Solution
ser = pd.Series(pd.date_range('2021-01-01', periods=10, freq='W-SUN'),np.random.randint(1,10,10))
print(ser)

3   2021-01-03
9   2021-01-10
4   2021-01-17
6   2021-01-24
1   2021-01-31
4   2021-02-07
7   2021-02-14
4   2021-02-21
5   2021-02-28
8   2021-03-07
dtype: datetime64[ns]

### 9. In `df`, compute the mean price of every fruit using grouping function.

In [ ]:
# Input
df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                   'rating': np.random.rand(9),
                   'price': np.random.randint(0, 15, 9)})

# Solution
out = df.groupby('fruit')['price'].mean()
print(out)

fruit
apple     7.000000
banana    8.333333
orange    6.000000
Name: price, dtype: float64

### 10. Join two dataframes `df1` and `df2` for intersection items on `use_id`.

In [3]:
# Input
base_path = 'https://raw.githubusercontent.com/shanealynn/Pandas-Merge-Tutorial/master/'
df1 = pd.read_csv(base_path + 'user_usage.csv')
df2 = pd.read_csv(base_path + 'user_device.csv')

# Solution
print(pd.merge(df1,df2, on = 'use_id', how='inner'))

     outgoing_mins_per_month  ...  use_type_id
0                      21.97  ...            1
1                    1710.08  ...            1
2                    1710.08  ...            1
3                      94.46  ...            1
4                      71.59  ...            1
..                       ...  ...          ...
154                   198.59  ...            1
155                   198.59  ...            1
156                   106.65  ...            1
157                   344.53  ...            1
158                    42.75  ...            1

[159 rows x 9 columns]