<a href="https://colab.research.google.com/github/leebs0521/DAP/blob/main/Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 패키지 import

import pandas as pd
import numpy as np

In [2]:
# 데이터 가져오기

data = pd.read_csv('https://raw.githubusercontent.com/leebs0521/DAP/main/Dataset/ades-2021/dev.csv')
nRow, nCol = data.shape
print("Data has {} rows & {} columns".format(nRow, nCol))
data.head()

Data has 345815 rows & 42 columns

   duration protocol_type  ... dst_host_srv_rerror_rate class
0         0           udp  ...                     0.00     0
1         4           udp  ...                     0.00     0
2         0           tcp  ...                     0.99     0
3         0           tcp  ...                     0.00     0
4         0           udp  ...                     0.00     0

[5 rows x 42 columns]

In [3]:
## 데이터 전처리 영역

# 단일 값만 가지는 컬럼 찾기

for col in data.columns:
    print(data[col].value_counts())

0        337157
1          1760
2           596
3           444
5           387
          ...
1407          1
128           1
2433          1
10629         1
42088         1
Name: duration, Length: 1908, dtype: int64
icmp    198672
tcp     132873
udp      14270
Name: protocol_type, dtype: int64
ecr_i      197152
private     77402
http        44882
smtp         6867
other        5105
            ...
urh_i           9
tim_i           4
pm_dump         1
tftp_u          1
red_i           1
Name: service, Length: 66, dtype: int64
SF        265074
S0         60699
REJ        18847
RSTR         638
RSTO         406
SH            75
S1            38
S2            16
RSTOS0         9
OTH            7
S3             6
Name: flag, dtype: int64
1032     159807
0         80584
520       36923
105        5130
147        1909
          ...
640           1
6274          1
2432          1
12679         1
2428          1
Name: src_bytes, Length: 2949, dtype: int64
0       285812
105       3123
147       1746
146       1608
8314      1492
         ...
6116         1
2421         1
4470         1
6519         1
8291         1
Name: dst_bytes, Length: 9164, dtype: int64
0    345799
1        16
Name: land, dtype: int64
0    344964
3       660
1       191
Name: wrong_fragment, dtype: int64
0    345813
3         1
2         1
Name: urgent, dtype: int64
0     343578
2       1535
28       199
1        171
4         82
6         69
5         39
14        29
3         28
30        17
19        17
22        16
18        12
24         9
20         6
7          4
15         1
9          1
17         1
10         1
Name: hot, dtype: int64
0    345772
1        37
2         3
5         1
4         1
3         1
Name: num_failed_logins, dtype: int64
0    294552
1     51263
Name: logged_in, dtype: int64
0      344259
1        1508
2          13
4          13
3           6
6           2
238         1
5           1
7           1
9           1
767         1
13          1
16          1
18          1
275         1
21          1
281         1
38          1
102         1
11          1
Name: num_compromised, dtype: int64
0    345780
1        35
Name: root_shell, dtype: int64
0    345805
2         5
1         5
Name: su_attempted, dtype: int64
0      345395
1         165
9         121
6          92
2          17
5           8
4           7
3           2
119         1
857         1
54          1
306         1
278         1
16          1
268         1
12          1
Name: num_root, dtype: int64
0     345627
1        148
2         26
4          5
16         2
28         1
25         1
22         1
21         1
14         1
10         1
7          1
Name: num_file_creations, dtype: int64
0    345774
1        39
2         2
Name: num_shells, dtype: int64
0    345494
1       302
2        15
3         2
6         1
4         1
Name: num_access_files, dtype: int64
0    345815
Name: num_outbound_cmds, dtype: int64
0    345815
Name: is_host_login, dtype: int64
0    345326
1       489
Name: is_guest_login, dtype: int64
511    159490
1       27578
510     18709
2        7800
3        4065
        ...
334         1
335         1
412         1
345         1
340         1
Name: count, Length: 468, dtype: int64
511    158550
1       26065
510     18913
2       13097
3        7909
        ...
387         1
386         1
297         1
383         1
388         1
Name: srv_count, Length: 445, dtype: int64
0.00    283553
1.00     60349
0.99       239
0.08       106
0.05        98
         ...
0.70         1
0.34         1
0.42         1
0.87         1
0.53         1
Name: serror_rate, Length: 87, dtype: int64
0.00    284217
1.00     60733
0.03        91
0.04        77
0.05        73
0.06        70
0.02        60
0.50        52
0.08        48
0.07        47
0.33        41
0.25        39
0.17        32
0.09        32
0.11        31
0.12        31
0.10        30
0.20        29
0.14        22
0.01         9
0.67         6
0.94         5
0.88         4
0.95         3
0.19         3
0.58         3
0.18         3
0.15         3
0.92         3
0.83         3
0.91         3
0.40         2
0.75         2
0.37         1
0.22         1
0.76         1
0.93         1
0.27         1
0.36         1
0.35         1
0.44         1
Name: srv_serror_rate, dtype: int64
0.00    325429
1.00     18906
0.86        84
0.90        68
0.92        66
         ...
0.24         1
0.66         1
0.62         1
0.43         1
0.21         1
Name: rerror_rate, Length: 72, dtype: int64
0.00    324978
1.00     19717
0.33       179
0.50       143
0.25       125
0.20        99
0.17        93
0.14        53
0.04        45
0.02        45
0.03        40
0.06        38
0.12        37
0.05        27
0.07        25
0.08        19
0.67        19
0.09        18
0.29        17
0.40        17
0.11        16
0.10        10
0.60         9
0.75         8
0.01         6
0.71         4
0.22         2
0.96         2
0.43         2
0.92         2
0.83         2
0.81         2
0.88         2
0.69         1
0.18         1
0.95         1
0.73         1
0.79         1
0.93         1
0.94         1
0.27         1
0.86         1
0.13         1
0.82         1
0.38         1
0.21         1
0.85         1
Name: srv_rerror_rate, dtype: int64
1.00    267618
0.06      7863
0.05      7409
0.04      7082
0.07      7004
         ...
0.87         1
0.72         1
0.82         1
0.68         1
0.85         1
Name: same_srv_rate, Length: 97, dtype: int64
0.00    267576
0.06     36857
0.07     20159
0.05     13393
0.08      2301
         ...
0.82         1
0.64         1
0.97         1
0.83         1
0.69         1
Name: diff_srv_rate, Length: 75, dtype: int64
0.00    321595
1.00      5668
0.12      1060
0.50       996
0.67       966
         ...
0.64         2
0.54         1
0.46         1
0.70         1
0.77         1
Name: srv_diff_host_rate, Length: 63, dtype: int64
255    302949
1        2042
2        1435
3         987
4         940
        ...
254        48
226        47
253        44
246        34
0           2
Name: dst_host_count, Length: 256, dtype: int64
255    236464
1        8392
2        4948
3        4125
8        3921
        ...
206        45
209        45
207        45
202        41
0           2
Name: dst_host_srv_count, Length: 256, dtype: int64
1.00    243523
0.04     11157
0.02     11157
0.05     10796
0.07     10645
         ...
0.35       111
0.34       110
0.30       109
0.41       101
0.21        94
Name: dst_host_same_srv_rate, Length: 101, dtype: int64
0.00    242939
0.07     32055
0.06     19760
0.05     12901
0.08     10189
         ...
0.96         8
0.35         6
0.92         5
0.99         4
0.97         4
Name: dst_host_diff_srv_rate, Length: 101, dtype: int64
1.00    202395
0.00     99808
0.01     15385
0.02      5040
0.03      3057
         ...
0.65        22
0.72        22
0.70        20
0.66        19
0.68        17
Name: dst_host_same_src_port_rate, Length: 101, dtype: int64
0.00    309285
0.02      8244
0.01      7354
0.03      4682
0.04      4677
         ...
0.47         1
0.70         1
0.41         1
0.62         1
0.75         1
Name: dst_host_srv_diff_host_rate, Length: 64, dtype: int64
0.00    280022
1.00     60530
0.01      2607
0.02       688
0.03       301
         ...
0.44         1
0.37         1
0.78         1
0.86         1
0.68         1
Name: dst_host_serror_rate, Length: 95, dtype: int64
0.00    280870
1.00     60697
0.01      3398
0.02       475
0.03       110
         ...
0.82         1
0.87         1
0.53         1
0.81         1
0.57         1
Name: dst_host_srv_serror_rate, Length: 67, dtype: int64
0.00    321096
1.00     18269
0.01      1101
0.02       651
0.04       577
         ...
0.39        13
0.30        13
0.46        11
0.26        11
0.79        10
Name: dst_host_rerror_rate, Length: 101, dtype: int64
0.00    321799
1.00     18041
0.01      1311
0.04       588
0.05       547
         ...
0.32         4
0.28         4
0.46         3
0.26         3
0.22         2
Name: dst_host_srv_rerror_rate, Length: 101, dtype: int64
1    277720
0     68095
Name: class, dtype: int64

In [4]:
# 단일 값만 가지는 컬럼 제거
delete_col = ['num_access_files', 'num_outbound_cmds']

data.drop(delete_col, axis=1, inplace = True)
print(data.shape)

(345815, 40)